<div class="app-menu p-2 lg:p-3">
  <div class="flex align-items-center gap-2">
    <span class="app-menu-title">IB</span>
    <img
      class="app-menu-logo"
      src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/84_Dev-512.png"
      alt=""
    />
  </div>
  <div
    class="flex gap-2 align-items-center"
    *ngIf="currentWidth > mediaSize.sm; else mobileTemplate"
  >
    <p-button
      class="home-button"
      [ngClass]="
        currentWidth > mediaSize.md ? 'home-button' : 'home-button-mobile'
      "
      label="Home"
      [rounded]="true"
      (onClick)="onClickNavigateToHome()"
    ></p-button>
    <p-button
      class="about-button"
      [ngClass]="
        currentWidth > mediaSize.md ? 'about-button' : 'about-button-mobile'
      "
      label="About me"
      [rounded]="true"
      (onClick)="onClickNavigateToAbout()"
    ></p-button>
    <p-button
      class="contact-me-button"
      [ngClass]="
        currentWidth > mediaSize.md
          ? 'contact-me-button'
          : 'contact-me-button-mobile'
      "
      label="Contact me"
      [rounded]="true"
      (onClick)="onClickNavigateToContact()"
    ></p-button>
  </div>
  <ng-template #mobileTemplate>
    <div class="card flex justify-content-center">
      <p-menu #menuHeader [model]="items" [popup]="true"></p-menu>
      <p-button
        class="hamburger-button"
        (onClick)="menuHeader.toggle($event)"
        icon="pi pi-align-justify"
      />
    </div>
  </ng-template>
</div>
