* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-menu {
  background-color: #2471a3;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .app-menu-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    cursor: default;
  }
  .app-menu-logo {
    width: 10%;
  }
  ::ng-deep {
    .home-button {
      .p-button {
        font-size: 16px;
        .p-button-label {
          text-wrap: nowrap;
        }
      }
    }
    .home-button-mobile {
      .p-button {
        font-size: 8px;
        padding: 8px;
      }
    }
    .about-button {
      .p-button {
        font-size: 16px;
        .p-button-label {
          text-wrap: nowrap;
        }
      }
    }
    .about-button-mobile {
      .p-button {
        font-size: 8px;
        padding: 8px;
      }
    }
    .contact-me-button {
      .p-button {
        font-size: 16px;
        .p-button-label {
          text-wrap: nowrap;
        }
      }
    }
    .contact-me-button-mobile {
      .p-button {
        font-size: 8px;
        padding: 8px;
      }
    }
    .hamburger-button {
      .p-button.p-button-icon-only {
        /* width: 3rem; */
        padding: 8px;
        width: 2rem;
      }
    }
  }
}
