<div class="about-container p-3">
  <div class="text-center flex flex-column">
    <span class="name">Ingkarat Boonruang</span>
    <span class="mt-5"
      >Hello every one👋, I am a developer who has changed career paths</span
    >
    <span
      >I have taken additional courses with software park code camp and have
      worked on individual and group projects</span
    >
    <span
      >Currently, I have about {{ experienceInYears }} of work experience</span
    >
    <span
      >I am a person who likes new challenges and likes to learn more about
      things I like</span
    >
    <span
      >I am a person who can complete assigned tasks on time and
      efficiently</span
    >
  </div>
</div>
